.dashboard__main {
  border-radius: 10px;
  background-image: url(../images/dashboard-cover-art.png);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: top right;
}

.dashboard__content {
  display: grid;
  padding: 0 100px 0;
}

.dashboard__title {
  color: #8f8f8f;
  margin: 40px 0 0;
}

.dashboard__greeting {
  padding: 4px 0 0;
  margin: 0;
}
