.dashboard__main {
  background-image: url(../images/dashboard-cover-art.png);
  background-color: #f8f8f8;
  background-repeat: no-repeat;
  background-size: 300px;
  background-color: none;
  background-position: top right;
}

.dashboard__content {
  padding: 0 40px 0;
}

.dashboard__title {
  color: #8f8f8f;
  margin: 40px 0 0;
}

.dashboard__greeting {
  padding: 4px 0 0;
  margin: 0;
}
