.header {
  box-shadow: 10px 2px 2px gray;
  border: rgba(7, 7, 7, 0.4) 1px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  max-width: 90vw;
  height: 55px;
  margin: 0 auto;
  background-color: #f8f8fc;
}

.header__logo {
  padding-left: 10px;
  margin-top: auto;
}

.header__btn {
  padding: 0;
  border-style: none;
  background-color: transparent;
}

.header__icon {
  padding: 5px 15px 0 0;
  height: 44px;
  width: 40px;
}
