.sidebar {
  margin: 12px;
  position: absolute;
  background-color: #202125;
  width: 70px;
  height: 100%;
  border-radius: 10px;
}

.sidebar__nav-list {
  padding-left: 10px;
  list-style: none;
}

.sidebar__nav-item {
  padding: 0;
}
