.page {
  background-color: #f3f3f3;
  background-image: url("public/dashboard-cover-art.png");
  min-height: 100vh;
  background-size: auto;
  background-position: top right;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.page__content {
  max-width: 1360px;
  max-width: 100%;
  padding: 0 40px 0 40px;
}
@media screen and (max-width: 375px) {
  .page__content {
    padding: 0 16px 0 16px;
  }
}
