.page {
  background-color: #efecfe;
  background-image: url("public/dashboard-cover-art.png");
  min-height: 100vh;
  background-size: auto;
  background-position: top right;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.page__content {
  height: fit-content;
  max-width: 100%;
  padding: 0 40px 0 40px;
}
