.dashboard__main {
  background-image: url(../../assets/dashboard-cover-art.png);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: top right;
}

.dashboard__content {
  padding: 0 40px 0;
}

.dashboard__user__info {
  height: 900px;
}

.dashboard__title {
  color: #8f8f8f;
  margin: 40px 0 0;
}

.dashboard__greeting {
  padding: 4px 0 0;
  margin: 0;
}
.dashboard-cards__list {
  list-style-type: none;
  grid-gap: 20px 20px;
  grid-template-columns: repeat(auto-fit, 323px);
  grid-template-rows: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  justify-content: center;
}
