.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  box-shadow: 10px 2px 2px gray;
  border: rgba(7, 7, 7, 0.4) 1px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  max-width: 90vw;
  height: 10px;
  margin: 0 auto 10px;
  background-color: #f8f8fc;
}

.header__logo {
  margin-right: 24px;
  padding-left: 10px;
  margin-top: auto;
}

.header__logo:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.header__icon {
  padding: 5px 15px 0 0;
  height: 44px;
  width: 40px;
}

.header__date {
  font-family: CabinetGrotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  font-family: CabinetGrotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
  margin: 0;
  text-decoration: none;
  color: black;
}

.header__add-habit-btn {
  cursor: pointer;
  margin: 0 20px 0 20px;
  font-family: CabinetGrotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  background: none;
}

.header__add-habit-btn:hover {
  transition: color 0.3s ease;
  color: #7e6fd5;
}

.header__signup-btn {
  cursor: pointer;
  margin: 0 20px 0 20px;
  font-family: CabinetGrotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

.header__signup-btn:hover {
  background-color: #d6d0fd;
  cursor: pointer;
}

.header__login-btn {
  cursor: pointer;
  margin: 0 20px 0 0px;
  font-family: CabinetGrotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

.header__login-btn:hover {
  background-color: #d6d0fd;
  cursor: pointer;
}

.header__logout-btn {
  font-family: CabinetGrotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  border: none;
  background: none;
  color: #000;
  cursor: pointer;
  padding: 0 12px;
}

.header__logout-btn:hover {
  opacity: 0.6;
}
.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: white;
  font-family: CabinetGrotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin: 0 15px 0;
}

@media screen and (max-width: 375px) {
  .header {
    display: flex;
    flex-flow: column;
    align-items: start;
  }

  .header__user-container {
    visibility: hidden;
    margin: 0;
    align-self: flex-end;
  }
}
